@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: #D9D9D9;
  background-color: #262626;
  font-family: Bricolage Grotesque;
}

header {
  text-align: center;
}

header > h2 {
  color: #F9F4DA;
}

header > p {
  font-size: 13px;
  width: 310px;
  font-weight: 400;
  color: #8E8E8E;
  margin: auto;
}

section {
  width: 500px;
  padding: 1px 0px;
  border-radius: 8px;
  margin-top: 30px;
  background-color: #009432;
  color: #F9F4DA;
}

section > h2 {
  text-align: center;
}

section > p {
  margin-top: -12px;
  text-align: center;
}

.chip-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.chip-case {
  padding: 4px 6px;
  margin: 0px 1px;
  border-radius: 5px;
}

.sub-container {
  max-width: 390px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}